body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #000;
}

.error {
    color: red;
    font-weight: normal;
    font-size: 16px;
    height: 18px;
    margin-bottom: 0px;
}

label {
    display: block;
    font-size: 16px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    height: 20px;
}

textarea {
    width: 500px;
    height: 400px;
}

input[type=submit] {
    margin-top: 0px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post-heading {
    position: relative;
    border-bottom: 2px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.post-date {
    position: absolute;
    font-size: 14px;
    font-weight: normal;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-content {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
}

#age {
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
    font-weight: normal;
}
