<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/birthday.css"/>
        <title>Birthday</title>
    <body>
        <h1>What is your birthday?</h1>
        <form method="post">
            <label>
                Month<input type="text" name="month" value ="{{month}}">
            </label>
            <label>
                Day<input type="text" name="day" value="{{day}}">
            </label>
            <label>
                Year<input type="text" name="year" value="{{year}}">
            </label>
            <div id="error">{{error}}</div>
            <input type="submit">
        </form>
    </body>
</html>
