<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/index.css"/>
        <title>Udacity CS253</title>
    </head>
    <body>
        <h1>Hello, <a id="udacity" href="https://www.udacity.com/" target="_blank">Udacity</a>!</h1>
        <p>
            Welcome! The following is a toy application suite covering core web development concepts
            as part of Udacity <a id="cs253" href="https://www.udacity.com/course/cs253" target="_blank">CS253</a>:
            Web Application Engineering. Click on the links below to explore!
        </p>
        <div>
            <table>
                <thead>
                    <th>Form validation</th>
                </thead>
                <tbody>
                    <tr><td><a href="http://gregoryudacity.appspot.com/birthday" target="_blank">Birthday</a></td></tr>
                    <tr><td><a href="http://gregoryudacity.appspot.com/rot13" target="_blank">ROT13</a></td></tr>
                    <tr><td><a href="http://gregoryudacity.appspot.com/signup" target="_blank">Signup</a></td></tr>
                </tbody>
            </table>
            <table class="column">
                <thead>
                     <th>Databases</th>
                </thead>
                <tbody>
                    <tr><td><a href="http://gregoryudacity.appspot.com/ascii" target="_blank">/ascii/</a></td></tr>
                    <tr><td><a href="http://gregoryudacity.appspot.com/blog" target="_blank">Blog</a></td></tr>
                    <tr><td>&nbsp;</td></tr>
                </tbody>
            </table>
            <table class="column">
                <thead>
                     <th id="auth">Authentication</th>
                </thead>
                <tbody>
                    <tr><td><a href="http://gregoryudacity.appspot.com/visits" target="_blank">Visits cookie</a></td></tr>
                    <tr><td><a href="http://gregoryudacity.appspot.com/db-signup" target="_blank">stored Signup</a></td></tr>
                    <tr>
                        <td>
                            <a href="http://gregoryudacity.appspot.com/login" target="_blank">Login</a> /
                            <a href="http://gregoryudacity.appspot.com/logout" target="_blank">Logout</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="column">
                <thead>
                     <th id="api">APIs</th>
                </thead>
                <tbody>
                    <tr><td><a href="http://gregoryudacity.appspot.com/mapscii" target="_blank">/mapscii/</a></td></tr>
                    <tr><td><a href="http://gregoryudacity.appspot.com/blog.json" target="_blank">JSON Blog</a></td></tr>
                    <tr><td>&nbsp;</td></tr>
                </tbody>
            </table>
            <table class="column">
                <thead>
                     <th>Scaling</th>
                </thead>
                <tbody>
                    <tr><td><a href="http://gregoryudacity.appspot.com/cachedscii" target="_blank">/cachedscii/</a></td></tr>
                    <tr><td><a href="http://gregoryudacity.appspot.com/cached-blog" target="_blank">cached Blog</a></td></tr>
                    <tr><td>&nbsp;</td></tr>
                </tbody>
            </table>
        </div>
        <br>
        <p>See <a id="github" href="https://github.com/gregorykremler/udacity-cs253/" target="_blank">source</a>.</p>
    </body>
</html>
