<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <style type="text/css">
      .error {color: red}
    </style>
  </head>
  <body>
    <form method="post">
      <table>
        <tr>
          <td>Login</td>
        <tr>
        <tr>
          <td>Username</td>
          <td><input type="text" name="username" value="{{username}}"></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="password" value=""></td>
        </tr>
      </table>
      <div style="color: red">{{error}}</div>
      <input type="submit">
    </form>
  </body>
</html>