<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/mapscii.css"/>
        <title>/mapscii/</title>
    </head>
    <body>
        <h1>/mapscii/</h1>
        <form method="post">
            <label>
                <div>Title</div>
                <input type="text" name="title" value="{{title}}">
            </label>
            <label>
                <div>Art</div>
                <textarea name="art">{{art}}</textarea>
            </label>
            <div id="error">{{error}}</div>
            <input type="submit">
        </form>
        {% if img_url %}
            <img id="map" src="{{img_url}}"/>
        {% endif %}
        <hr>
        {% for art in arts %}
            <div class="art">
                <div class="art-title">{{art.title}}</div>
                <pre class="art-body">{{art.art}}</pre>
            </div>
        {% endfor %}
    </body>
</html>
